@{
    ViewData["Title"] = "Recover Password";
}

<style>
    .card-with-border {
        border: 1px solid #ccc;
        border-radius: 10px; /* Update border-radius value for better appearance */
        overflow: hidden; /* Add overflow property to hide any content overflowing from the card */
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card card-with-border">
                <div class="card-body text-center">
                    <h5 class="card-title mb-3">Password Recovery</h5>
                    <form method="post">
                        <div class="mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" id="security-token" name="security-token" placeholder="Security Token" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="new-password" name="new-password" placeholder="New Password" required>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="Confirm New Password" required>
                            <small id="password-match-error" class="text-danger d-none">Passwords do not match.</small>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="btn btn-primary" onclick="validateForm()">Submit</button>
                        </div>
                    </form>
                    <p class="mt-2 mb-0">Don't have a security token? <a href="mailto:ask.srshirish+password@gmail.com?subject=Password Recovery Request&body=Hi Shirish,%0D%0A%0D%0AUnfortunately, I forgot my password and lost my security token too. Can you please resend the security token to my email so that I can recover my password?%0D%0A%0D%0AThanking You">Request a new security token</a></p>
                    <p class="mt-1 mb-0">Send the password recovery mail from your account's email id only</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function validateForm() {
        var newPassword = document.getElementById("new-password").value;
        var confirmPassword = document.getElementById("confirm-password").value;
        var passwordMatchError = document.getElementById("password-match-error");
        
        if (newPassword !== confirmPassword) {
            passwordMatchError.classList.remove("d-none");
            event.preventDefault();
        } else {
            passwordMatchError.classList.add("d-none");
        }
    }
</script>

